
<section class="blog" id="blog">
    <div class="container">
      <h2 class="blog__heading">Blog</h2>
      <div class="swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <picture class="swiper-img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  /src/images/blog2-desktop@1x.jpg 1x,
                  /src/images/blog2-desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <source
                media="(min-width: 768px)"
                srcset="
                  /src/images/blog2-tablet@1x.jpg 1x,
                  /src/images/blog2-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /src/images/blog2-mobile@1x.jpg 1x,
                  /src/images/blog2-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <img src="/src/images/blog2-mobile@1x.jpg" alt="Квітка1" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /src/images/blog1-desktop@1x.jpg 1x,
                  /src/images/blog1-desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <source
                media="(min-width: 768px)"
                srcset="
                  /src/images/blog1-tablet@1x.jpg 1x,
                  /src/images/blog1-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /src/images/blog1-mobile@1x.jpg 1x,
                  /src/images/blog1-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <img src="/src/images/blog1-mobile@1x.jpg" alt="Квітка2" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /src/images/blog3-desktop@1x.jpg 1x,
                  /src/images/blog3-desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <source
                media="(min-width: 768px)"
                srcset="
                  /src/images/blog3-tablet@1x.jpg 1x,
                  /src/images/blog3-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /src/images/blog3-mobile@1x.jpg 1x,
                  /src/images/blog3-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <img src="/src/images/blog3-mobile@1x.jpg" alt="Квітка3" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
                <source
                media="(min-width: 1280px)"
                srcset="
                  /src/images/flowers1-desktop@1x.jpg 1x,
                  /src/images/flowers1-desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <source
                media="(min-width: 768px)"
                srcset="
                  /src/images/flowers1-tablet@1x.jpg 1x,
                  /src/images/flowers1-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /src/images/flowers1-mobile@1x.jpg 1x,
                  /src/images/flowers1-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <img src="./images/flowers1-mobile@1x.jpg" alt="Квітка4" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /src/images/flowers2-desktop@1x.jpg 1x,
                  /src/images/flowers2-desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <source
                media="(min-width: 768px)"
                srcset="
                  /src/images/flowers2-tablet@1x.jpg 1x,
                  /src/images/flowers2-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /src/images/flowers2-mobile@1x.jpg 1x,
                  /src/images/flowers2-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <img src="./images/flowers2-mobile@1x.jpg" alt="Квітка5" />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /src/images/flowers3-desktop@1x.jpg 1x,
                  /src/images/flowers3-desktop@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <source
                media="(min-width: 768px)"
                srcset="
                  /src/images/flowers3-tablet@1x.jpg 1x,
                  /src/images/flowers3-tablet@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /src/images/flowers3-mobile@1x.jpg 1x,
                  /src/images/flowers3-mobile@2x.jpg 2x
                "
                type="image/jpg"
              />
  
              <img src="./images/flowers3-mobile@1x.jpg" alt="Квітка6" />
            </picture>
          </li>
        </ul>
  
        <button class="swiper-button swiper-button-prev" type="button">
          <svg class="swiper-button-prev" width="41" height="27">
            <use href="./svg/symbol-defs.svg#blog-left"></use>
          </svg>
        </button>
  
        <button class="swiper-button swiper-button-next" type="button">
          <svg class="swiper-button-next" width="41" height="27">
            <use href="./svg/symbol-defs.svg#blog-right"></use>
          </svg>
        </button>
  
        <button class="swiper-button left-button" type="button"> 
          <svg class="left-button" width="96" height="64">
            <use href="./svg/symbol-defs.svg#arrow-left"> </use>
          </svg>
        </button>
  
        <button class="swiper-button right-button" type="button"> 
          <svg class="right-button" width="96" height="64">
            <use href="./svg/symbol-defs.svg#arrow-right"> </use>
          </svg>
        </button>
      </div>
  
      <div class="blog__wrapper">
        <p class="blog__text">Follow to our newsletter</p>
        <button class="blog__btn" type="button" data-modal-subscribe-open>
          Subscribe
        </button>
      </div>
    </div>
  
    <div class="backdrop is-hidden" data-modal-subscribe>
      <div class="modal">
        <button type="button" class="modal__close" data-modal-subscribe-close>
          <svg class="modal__icon-close">
            <use href="./svg/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /src/images/subscribe-desktop@1x.jpg 1x,
              /src/images/subscribe-desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
  
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/subscribe-tablet@1x.jpg 1x,
              /src/images/subscribe-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 480px)"
            srcset="
              /src/images/subscribe-mobile@1x.jpg 1x,
              /src/images/subscribe-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
  
          <img
            srcset="
              /src/images/subscribe-mobile@1x.jpg 1x,
              /src/images/subscribe-mobile@2x.jpg 2x
            "
            src="/src/images/subscribe-mobile@1x.jpg"
            alt="Фото букет"
            class="subscribe-img"
          />
        </picture>
  
        <div class="modal__box">
          <p class="modal__title">Follow to our newsletter</p>
          <p class="modal__descr">
            Be the first to get exclusive offers and the latest news on our
            product directly in your box.
          </p>
          <form class="form-subscribe">
            <label for="mail" class="form-subscribe__label"
              >Email
              <input
                class="form-subscribe__input"
                type="email"
                name="email"
                id="mail"
                placeholder="Your email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
              />
            </label>
            <button
              data-modal-subscribe-close
              class="button button--subscribe"
              type="submit"
            >
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script> 
  
  

  